<div class="container">
  <app-books-main></app-books-main>
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    class="d-flex flex-column align-items-center justify-content-center w60 drop-container"
    *ngIf="accountsByCategory$ | async as accountsByCategory"
  >
    <app-progress
      class="w-100"
      [loading]="!accountsByCategory.length"
    ></app-progress>
    <ng-container *ngFor="let accountsByType of accountsByCategory">
      <app-widget
        class="container d-flex m-4 flex-column"
        [index]="accountsByType.category"
        [accountsByCategory]="accountsByType"
      ></app-widget>
    </ng-container>
  </div>
</div>
