<div class="d-flex justify-content-between p-2 align-items-center">
  <img
    width="60"
    height="60"
    [src]="account.image"
    (error)="randomImageUrl(account)"
  />
  <div class="m-2">
    <div>
      {{ account.name }}
    </div>
    <div>{{ account.type }}</div>
    <div>
      {{ account.iban }}
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-end">
  <div>{{ account.expirationDate | date : "dd/MM/yyyy" }}</div>
  <div>
    <mat-spinner
      *ngIf="!account.balance"
      strokeWidth="1"
      [diameter]="24"
    ></mat-spinner>
    {{ account.balance }}
    <span> {{ account.currency }}</span>
  </div>
</div>
