<div class="d-flex justify-content-between p-2 align-items-center">
  <div class="image d-flex justify-content-center align-items-center">
    <mat-spinner
      *ngIf="!account.image"
      strokeWidth="1"
      [diameter]="24"
    ></mat-spinner>
    <ng-container *ngIf="account.image | parsePictures : account.type as src">
      <img height="55" [src]="src" (error)="randomImageUrl(account)" />
    </ng-container>
  </div>

  <div class="m-2">
    <div>
      {{ account.name }}
    </div>
    <div>
      {{ account.iban }}
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-end">
  <div>{{ account.expirationDate | date : "dd/MM/yyyy" }}</div>
  <div>
    <mat-spinner
      *ngIf="!account.balance"
      strokeWidth="1"
      [diameter]="24"
    ></mat-spinner>
    {{ account.balance }}
    <span> {{ account.currency }}</span>
  </div>
</div>
